<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d7c254ec-1154-48de-9ad3-9681c4b104fa/resourceGroups/AZ19D1-XLNCARE-UK/providers/Microsoft.Web/sites/wcb-euw1-xlncare-uk-01-np</ResourceId>
    <ResourceGroup>AZ19D1-XLNCARE-UK</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://wcb-euw1-xlncare-uk-01-np.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>wcb-euw1-xlncare-uk-01-np.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wcb-euw1-xlncare-uk-01-np</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wcb-euw1-xlncare-uk-01-np</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>